In [2]:
import numpy as np
import pandas as pd

In [7]:
labels = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {
    'a':10,
    'b':20,
    'c':30
}
print(d)
print(arr)
print(labels)

{'a': 10, 'b': 20, 'c': 30}
[10 20 30]
['a', 'b', 'c']

In [9]:
pd.Series(data = my_list)

0    10
1    20
2    30
dtype: int64

In [11]:
list = ['t', 'o', 'k', 'y', 'o']
pd.Series(list)

0    t
1    o
2    k
3    y
4    o
dtype: object

In [13]:
pd.Series(data = my_list, index = labels)

a    10
b    20
c    30
dtype: int64

In [16]:
data = np.array(['t', 'o', 'k', 'y', 'o'])
ser = pd.Series(data)
print(ser)

0    t
1    o
2    k
3    y
4    o
dtype: object

In [19]:
pd.Series(my_list, labels)

a    10
b    20
c    30
dtype: int64

In [22]:
pd.Series(arr)
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [24]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [26]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [28]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [29]:
ser1 = pd.Series([1, 2, 3, 4], index = ["USA", "RUSSIA", "USSR", "JAPAN"])
ser1

USA       1
RUSSIA    2
USSR      3
JAPAN     4
dtype: int64

In [31]:
ser1['USA']

1

In [32]:
ser2 = pd.Series([1, 2, 5, 4], index = ["USA", "Leh ladakh", "Dubai", "Mudd village"])
ser2

USA             1
Leh ladakh      2
Dubai           5
Mudd village    4
dtype: int64

In [33]:
ser1 + ser2

Dubai           NaN
JAPAN           NaN
Leh ladakh      NaN
Mudd village    NaN
RUSSIA          NaN
USA             2.0
USSR            NaN
dtype: float64